/* 
    Document   : main
    Created on : 21.11.2012, 14:07:22
    Author     : dmitxe
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body { 
    background-color: #0e0;
}

